<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 class="title"><%= title %></h1>
    <ul class="message-list">
      <% messages.forEach(message => { %>
      <li class="message">
        <div class="message-info">
          <h3><%= message.name %></h3>
          <p><%= message.timestamp %></p>
        </div>
          <p class="content"><%= message.message %></p>
          <form action="/delete" method="post">
            <input type="hidden" name="id" value="<%= message.id %>"/>
            <button type="submit">Delete</button>
          </form>
      </li>
      <% }) %>
    </ul>
    <a href="/new-message">
      <button class="button" >New Message</button>
    </a>
  </body>
</html>
